/*所有页面的顶部导航*/
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100vw;
    height: 60px;
    position: fixed;
    left:0;
    color: #FFFFFF;
    z-index: 999;
}
nav img{
    margin:5px 100px;
}
nav ul{
    list-style: none;
    float: right;
    margin-right: 12vw;
    width: 680px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 14px;

}
nav ul li{
    float: left;
    margin-left: 46px;
    cursor: pointer;
}
/*二级导航*/
#header_proSecNav{
    background-color: white;
    width: 150px;
    height:200px ;
    line-height: 40px;
    color: #000000;
    opacity: 0.8;
    display: none;
    position: absolute;
    left: 53vw;
    top: 60px;
}
#header_prolist:hover #header_proSecNav{
    display: block;
}
#header_proSecNav li,#header_newSecNav li,#header_aboutSecNav li{
    float: none;
    margin: 0;
}
#header_proSecNav li:hover,#header_newSecNav li:hover,#header_aboutSecNav li:hover{
    background-color: #2597BA;
}

#header_newSecNav{
    background-color: #ffffff;
    width: 150px;
    height:125px ;
    color: #000000;
    line-height: 40px;
    opacity: 0.8;
    display: none;
    position: absolute;
    left: 63vw;
    top: 60px;
}
#header_newlist:hover #header_newSecNav{
    display: block;
}

#header_aboutSecNav{
    background-color: #ffffff;
    width: 150px;
    height:160px ;
    color: #000000;
    line-height: 40px;
    opacity: 0.8;
    display: none;
    position: absolute;
    left: 62vw;
    top: 60px;
}

#header_aboutlist:hover #header_aboutSecNav{
    display: block;
}
/*导航栏结束*/

#page_header{
    height: 2000px;
}




