*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}

/*中部整体*/
#index_center_down{
    margin: auto;
    margin-top: 1355px;
    width: 1900px;
    height: 1825px;
    background-color:#EEEEEE;
}
.customer{
    float: left;
    width: 150px;
    height: 40px;
    color: deepskyblue;
    font:30px bold;
    margin-left: 850px;
    margin-top: 40px;
}
.txt{
    text-align: center;
    font-size: 13px;
    float: left;
    margin: 40px 400px 0 700px;
    /*margin-top:109px;*/
    /*margin-left: -335px;*/
}
/*中部轮播*/
#index_customer_carouse{
    width: 1200px;
    height: 462px;
    position: relative;
    left: 350px;
    top: 50px;
    overflow: hidden;
    font-size: 0;
}
#left{
    font: 50px bold;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 200px;
    background-color: black;
    opacity: 0.5;
    color: white;
    display: none;
    cursor: pointer;
}
#right{
    cursor: pointer;
    font: 50px bold;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 200px;
    background-color: black;
    opacity: 0.5;
    color: white;
    display: none;
}
/*左右按钮hover*/
#index_customer_carouse:hover #left{
    display: block;
}
#index_customer_carouse:hover #right{
    display: block;
}
#right:hover{
    opacity: 0.7;
}
#left:hover{
    opacity: 0.7;
}
#change{
    width: 150px;
    height: 50px;
    position: absolute;
    z-index: 2;
    left:530px;
    top: 415px;
}
.carouse_img{
    width: 1200px;
    height: 462px;
    float: left;
}
/*三个轮播div的背景图片*/
#carouse_img_one{
    background: url("../img/first_images/020.jpg") no-repeat;
}
#carouse_img_two{
    background: url("../img/first_images/019.jpg") no-repeat;
}
#carouse_img_three{
    background: url("../img/first_images/018.jpg") no-repeat;
}
/*轮播图片里面的文字*/
.case{
    position: absolute;
    left:2500px;
    top:100px;
    width: 300px;
    height: 40px;
    font-size:28px;
    color: white;
}
.case_txt{
    width: 500px;
    height: 200px;
    position: absolute;
    left:2500px;
    top:170px;
    color: white;
    font-size: 20px;
    line-height: 40px;
}
.case_b{
    left: 1300px;
    width:390px;
}
.case_a{
    left: 100px;
}
#change_span_on{
    background-color: darkorange;
}
.change_span{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: white;
    float: left;
    line-height: 21px;
    text-align: center;
    margin-left: 10px;
}
/*轮播图片容器*/
#index_carouse_img{
    width:4000px;
    height: 345px;
    position: absolute;
    transition:all .8s ease-in-out;
}
/*人物介绍*/
#index_characters_intro{
    /*float: left;*/
    width:1900px;
    height: 430px;
    margin-top: 100px;
    background: url("../img/first_images/bg22.jpg") no-repeat;
    background-position-y:0;
}
/*人物列表*/
.list{
    width: 1000px;
    height: 200px;
    padding-right: 50px;
    position: relative;
    left: 390px;
    z-index: 0;
}
.list_img_block{
    color: orange;
}
/*默认显示样式*/
.list_img_on{
    border:2px solid#E58E43 ;
}
.orange_color{
    color: orange;
}
dl{
    width: 100px;
    height: 180px;
    float: left;
    margin-left: 100px;
    margin-top:80px;

}
dt{
    width: 111px;
    height: 111px;
    border: 2px solid slategrey ;
    border-radius: 50%;
}
dd{
    margin-left: 7px;
    width: 100px;
    height: 40px;
    color: white;
    font: 15px bold;
    text-align: center;
    line-height: 20px;
}
.read{
    width: 150px;
    height: 40px;
    border: 1px solid silver;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
}
.read:hover{
    background-color: deepskyblue;
}
.read a{
    color: white;
}
.index_list_txt{
    display:none;
    text-align: center;
    color: orange;
}
dd{
    color: white;
}
.list_introduce{
    width: 1200px;
    height: 40px;
    text-align: center;
    color: #E58E43;
    line-height: 25px;
    display: none;
    position: absolute;
    left:-50px;
    top: 300px;
}
.list_introduce:hover dt{
    border:2px solid#E58E43 ;
}
.index_left_ul{
    position: relative;
    width:600px;
    height: 200px;
    margin-top: 170px;
    margin-left: 345px;
    font-size: 14px;
}
.index_left_ul_title1{
    color: skyblue;
}
.index_left_title li{
    float: left;
    width: 340px;
    height: 30px;
}
.index_left_title_li{
    width: 100px;
    height:30px;
    float: left;
    line-height: 30px;
    cursor: pointer;
}
.index_left_title_li a{
    color:black;
}
.index_left_title_li a:hover{
    color:#2597BA
}


.index_left_ul_title{
    margin-bottom: 40px;
}
.index_left_title{
    padding-top: 25px;
    background-color: #FFFFFF;
    width:740px;
    height: 150px;
    position: absolute;
    left: 0;
    display: none;
}
.index_left_title a{
    color: black;
}
.index_left_title a:hover{
    /*color:#2597BA;*/
}
.index_left_title_block{
    display: block;
}
.ma_left{
    margin-left: 40px;
}



/*最新动态*/
#index_list_ul{
    float: left;
    width: 1900px;
    height: 450px;
    background-color:#FFFFFF ;
}
#new_dynamic_state{
    width: 200px;
    height: 50px;
    font-size: 40px;
    color: #289AB6;
    float: left;
    margin:-280px 500px 0 830px ;
}

#index_right_ul{
    float: left;
    width: 340px;
    height: 300px;
    margin-top: -220px;
    margin-left: 1200px;
}

.img{
    width: 379px;
    height: 150px;
    margin-top: 35px;
    overflow: hidden;
}
/*友情链接*/
#join_hands{
    display: block;
    border: none;
    width: 200px;
    height: 50px;
    font: 30px bold;
    color: deepskyblue;
    margin:40px auto 0 auto;
}
#index_friend_link{
    float: left;
    width: 1900px;
    height: 400px;
    /*background-color: red;*/
    background-color: #EEEEEE;
}
#friend_link_list1{
    width: 1200px;
    height: 70px;
    float: left;
    margin-left: 315px;
    margin-top: 50px;
}
#friend_link_list1 li{
    float: left;
    margin-left: 20px;
}
#friend_link_list2{
    width: 1200px;
    height: 70px;
    float: left;
    margin-left: 315px;
}
#friend_link_list2 li{
    float: left;
    margin-left: 20px;
}
.img img{
    width: 310px;
    height: 150px;
    transition: all 2s;
}
.img img:hover{
    transform: scale(1.2);
}

