*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
/*中部整体*/
#index_center_down{
    margin-top: 1355px;
    width: 1900px;
    height: 1825px;
    background-color:#EEEEEE;
}
.customer{
    float: left;
    width: 150px;
    height: 40px;
    color: deepskyblue;
    font:30px bold;
    margin-left: 850px;
    margin-top: 40px;
}
.txt{
    font-size: 13px;
    float: left;
    margin-top:109px;
    margin-left: -335px;
}
/*中部轮播*/
#index_customer_carouse{
    width: 1200px;
    height: 345px;
    position: relative;
    left: 350px;
    top: 50px;
    border: 1px solid saddlebrown;
    overflow: hidden;
}
/*轮播图片容器*/
#index_carouse_img{
    width:4000px;
    height: 345px;
    position: absolute;
}
/*人物介绍*/
#index_characters_intro{
    float: left;
    width:1900px;
    height: 430px;
    margin-top: 100px;
    background-image: url("../img/first_images/bg22.jpg");
}
/*人物列表*/
.list{
    width: 1000px;
    height: 200px;
    padding-right: 50px;
    margin:auto;
}
dl{
    float: left;
    margin-left: 80px;
    margin-top:80px;

}
dt{
    width: 111px;
    height: 111px;
    border: 2px solid ;
    border-radius: 50%;

}
dd{
    color: white;
    font: 15px bold;
    text-align: center;
    line-height: 20px;
}
.list_introduce{
    text-align: center;
    float: left;
    margin-top: 45px;
    margin-left: 350px;
    color: #E58E43;
    line-height: 25px;
}
/*人物hover效果*/
dd:hover{
    color:#E58E43 ;
}
.list_img:hover{
    border: 2px solid #E58E43;
}
#index_left_ul{
    width: 340px;
    height: 200px;
    float: left;
    margin-top: 150px;
    margin-left: 345px;
    font-size: 14px;
}
#index_left_ul li{
    line-height: 30px;
}
.index_left_ul_title{
    margin-bottom: 40px;
}
/*最新动态*/
#index_list_ul{
    float: left;
    width: 1900px;
    height: 360px;
    background-color:#FFFFFF ;
}
#new_dynamic_state{
    float: left;
    font-size: 40px;
    color: #289AB6;
    margin-top: 115px;
    margin-left: 100px;
}
#index_center_ul{
    font-size: 14px;
    float: left;
    width: 340px;
    height: 150px;
    line-height: 30px;
    margin-left: -205px;
    margin-top: 219px;
}
#index_right_ul{
    width: 340px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 155px;
}
#index_right_ul img{
    width: 380px;
    height: 120px;
}
.img{
    margin-top: 50px;
}
#index_friend_link{
    float: left;
    width: 1900px;
    height: 400px;
    /*background-color: red;*/
    background-color: #EEEEEE;
}
#friend_link_list1{
    width: 1200px;
    height: 70px;
    float: left;
    margin-left: 315px;
    margin-top: 100px;
}
#friend_link_list1 li{
    float: left;
    margin-left: 20px;
}
#friend_link_list2{
    width: 1200px;
    height: 70px;
    float: left;
    margin-left: 315px;
}
#friend_link_list2 li{
    float: left;
    margin-left: 20px;
}
