* {
    padding:0;
    margin: 0;
}
#production_container {
    width: 1905px;
    margin: auto;
}
#production_aboutAll {

    width: 1905px;
    height: 60px;
    background-color: #ffffff;
    position: relative;
    top: -5px;
}
#production_about_ul {
    list-style-type: none;
    margin-left: 352px;
    padding-top: 24px;


}
#production_about_ul li {
    float: left;
    font-size: 15px;
    padding-right: 52px;
    text-align: center;

}
#production_about_ul li a {
    text-decoration: none;
    color: #000000;

}
#production_about_ul li a:hover{
    color: #2b97ba;
}
#production_button {
    width: 130px;
    height: 60px;
    background-color: #2597BB;
    position: absolute;
    left: 1514px;
    top: 0px;
    cursor: pointer;

}
#production_button p {
    color: #ffffff;
    font-size: 15px;
    padding: 24px 30px 21px 30px;

}
.production_first {
    width: 1905px;
    height: 604px;
    background-color: #EEEEEE;
}
.production_left {
    width: 860px;
    height: 604px;
    float: left;

}
.production_left img {
    width: 471px;
    height: 267px;
    margin-left: 354px;
    margin-top: 68px;

}
.production_check {
    width: 188px;
    height: 49px;
    background-color: #edab00;
    border: none;
    color: #ffffff;
    font-size: 18px;
    margin-left: 490px;
    margin-top: 30px;
}
.production_check:hover {
    background-color: #f59701;
    cursor: pointer;
}
.production_right {
    width: 670px;
    height: 604px;
    float: left;
    margin-left: 100px;

}
.production_right_one {
    width: 670px;
    height: 288px;
}
.production_title {
    font-size: 26px;
    padding-top: 73px;
}
.production_title a {
    color: #2b97ba;
    text-decoration: none;
}
.production_word {
    font-size: 15px;
    line-height: 30px;
    margin-top: 41px;
}
.production_right_two {
    width: 240px;
    height: 166px;

}
.production_right_two_ul {
    list-style-type: none;
    padding-top: 43px;
}
.production_right_two_ul li {
    float: left;
    padding-right: 10px;
    font-size: 15px;

}
.production_second {
    width: 1905px;
    height: 481px;
}
.production_second_left {
    width: 670px;
    height: 481px;
    float: left;
    margin-left: 354px;
}
.production_second_right {
    width: 875px;
    height: 481px;
    float: left;

}
.production_second_right img {
    width: 466px;
    height: 258px;
    margin: 101px 398px 0 95px;


}
#production_second_check {
    margin-left: 245px;
}


.production_five {
    width: 1905px;
    height: 646px;

}
.production_five_left {
    width: 670px;
    height: 646px;
    float: left;
    margin-left: 352px;
}
#production_five_right_one img {
    width: 297px;
    height: 322px;
}
#production_second_check3 {
    margin-left: 160px;
}
#production_six {
    background-color: #EEEEEE;
}
#production_six_right_one img {
    width: 380px;
    height: 366px;
}
#production_second_check4{
    margin-left: 200px;
}

/*轮播*/
#production_third {
    width: 1905px;
    height: 498px;
    background-color: #2597ba;
}
#production_third_content {
    /*overflow: hidden;*/
    /*position: relative;*/
    width: 1200px;
    height: 498px;
    background-color: #2597ba;
}
#production_third_carousel {
    width: 6000px;
    height: 498px;
    margin: auto;
    /*position: absolute;*/
    /*z-index: 1;*/
}
.production_third_carousel_one {
    width: 6000px;
    height: 498px;
    float: left;
    margin-left: 350px;

}
.production_third_carousel_one_left {
    width: 553px;
    height: 498px;
    float: left;
}
.production_third_carousel_one_left_title {
    margin-top: 70px;
}
.production_third_carousel_one_left_title a {
    text-decoration: none;
    color: #ffffff;

}
.production_third_carousel_one_left_word {
    color: #ffffff;
    font-size: 14px;
    line-height: 25px;
    margin-top: 87px;
}
#production_third_carousel_one_left_word_two {
    margin-top: 35px;
}
#production_third_carousel_two_left_word_three {
    margin-top: 30px;
}

.production_third_carousel_one_right {
    width: 550px;
    height: 498px;
    float: left;
    margin-left: 70px;
}
.production_third_carousel_one_right img {
    width: 515px;
    height: 287px;
    margin-top: 115px;
}
/*轮播结束*/

